* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 96px;
}
.header {
  background-image: url(images/bg-header-desktop.png);
}
.logo-img {
  margin: 32px 0;
}
.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-primary-box {
  text-align: center;
}
.heading-primary {
  font-weight: 700;
  color: hsl(210, 10%, 33%);
}
.header-primary-text-box {
  color: hsl(201, 11%, 66%);
  margin-bottom: 24px;
}
.btn-box {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.btn {
  color: #fff;
  border: none;
  padding: 9px 32px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.btn:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}
.bgcol-1 {
  background-color: hsl(171, 66%, 44%);
}
.bgcol-2 {
  background-color: hsl(233, 100%, 69%);
}
.header-tertiary-box {
  text-align: center;
  margin-bottom: 48px;
}
.header-tertiary {
  font-weight: 600;
  color: hsl(212, 12%, 32%);
}
.header-tertiary-text-box {
  display: inline-block;
  /* justify-content: flex-end; */
  color: hsl(201, 11%, 66%);
  width: 75%;
}
.keep-track-feature-box {
  display: flex;
  align-items: center;
  gap: 96px;
}

.keep-track-properties {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.keep-track-property {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sub-header {
  font-weight: 550;
  color: hsl(212, 12%, 32%);
  font-size: 24px;
}
.sub-header-text {
  color: hsl(201, 11%, 66%);
}

.section-access {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  justify-content: center;
}
.header-secondary-text-box {
  text-align: center;
}
.header-secondary {
  font-weight: 600;
  margin-bottom: 12px;
}
.heading-secondary-text {
  display: inline-block;
  width: 65%;
}
.mobile-img {
  display: inline-block;
  width: 75%;
  transition: all 0.3s;
  cursor: pointer;
}
.mobile-img:hover {
  transform: scale(1.2);
}
.section-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
  /* align-items: center; */
}
.section-tag-lists {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 64px;
  /* margin-right: 64px; */
}
.tag-lists {
  text-align: center;
}
.tag-lists img {
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  margin-bottom: 18px;
}
.hpclass {
  display: inline-block;
  width: 80%;
}
.hpclass-2 {
  margin-right: 48px;
}
.section-featured-in {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 120px;
}
.section-featured-in img {
  width: 10%;
  height: 9%;
}
.margin {
  margin: 32px 0;
}
.footer {
  background-color: hsl(197, 10%, 86%);
  padding: 48px 96px;
  margin-bottom: 0;
}
.footer-section {
  display: flex;
  align-items: center;
  gap: 96px;
  justify-content: center;
}
.footer-list {
  list-style: none;
}
.footer-links {
  display: flex;
  gap: 48px;
}
.footer-list a {
  display: inline-block;
  color: hsl(212, 12%, 32%);
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 12px;
}
.footer-list a:hover {
  color: hsl(171, 66%, 44%);
}
.social-list {
  list-style: none;
  display: flex;
  gap: 12px;
}
.footer-icons {
  margin-left: auto;
}
.social-links {
  color: hsl(212, 12%, 32%);
}
.social-links:hover {
  color: hsl(171, 66%, 44%);
}
.social-icons {
  font-size: 48px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;
}
.attribution a {
  color: hsl(212, 12%, 32%);
}
.attribution a:link,
.attribution a:visited {
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.attribution a:hover,
.attribution a:active {
  color: hsl(171, 66%, 44%);
  text-decoration: underline;
  font-weight: bolder;
}
@media (max-width: 444px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 8px;
  }
  .btn-box {
    flex-direction: column;
  }
  .header {
    margin-bottom: 96px;
  }
  .header-tertiary {
    display: inline-block;
    width: 70%;
    margin-bottom: 24px;
  }
  .header-tertiary-text-box {
    display: inline-block;
    width: 90%;
  }
  .keep-track-feature-box {
    flex-direction: column;
  }
  .keep-track-feature-box img {
    width: 100%;
  }
  .keep-track-properties {
    text-align: center;
    margin-bottom: 96px;
  }
  .header-secondary {
    display: inline-block;
    width: 70%;
  }
  .heading-secondary-text {
    width: 100%;
  }
  .mobile-img {
    width: 100%;
  }
  .section-access {
    gap: 48px;
    margin-bottom: 96px;
  }
  .section-tag-lists {
    flex-direction: column;
  }
  .tag-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hpclass-2 {
    margin-right: 0;
  }
  .section-featured-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    align-items: center;
  }
  .section-featured-in img {
    width: 30%;
  }
  .section-clipboard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 96px;
  }
  .margin {
    display: flex;
    flex-direction: column;

    width: 60%;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .footer-links {
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }
  .logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 96px; */
  }
  .footer-icons {
    margin-left: 0;
  }
  .social-list {
    gap: 48px;
  }
  .footer {
    padding: 32px 0;
  }
}
