* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 96px;
}
.header {
  background-image: url(images/bg-header-desktop.png);
}
.logo-img {
  margin: 32px 0;
}
.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-primary-box {
  text-align: center;
}
.heading-primary {
  font-weight: 700;
  color: hsl(210, 10%, 33%);
}
.header-primary-text-box {
  color: hsl(201, 11%, 66%);
  margin-bottom: 24px;
}
.btn-box {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.btn {
  color: #fff;
  border: none;
  padding: 9px 32px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
}
.bgcol-1 {
  background-color: hsl(171, 66%, 44%);
}
.bgcol-2 {
  background-color: hsl(233, 100%, 69%);
}
.header-tertiary-box {
  text-align: center;
  margin-bottom: 48px;
}
.header-tertiary {
  font-weight: 600;
  color: hsl(212, 12%, 32%);
}
.header-tertiary-text-box {
  display: inline-block;
  /* justify-content: flex-end; */
  color: hsl(201, 11%, 66%);
  width: 75%;
}
.keep-track-feature-box {
  display: flex;
  align-items: center;
  gap: 96px;
}
.keep-track-properties {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.keep-track-property {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sub-header {
  font-weight: 550;
  color: hsl(212, 12%, 32%);
  font-size: 24px;
}
.sub-header-text {
  color: hsl(201, 11%, 66%);
}

.section-access {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  justify-content: center;
}
.header-secondary-text-box {
  text-align: center;
}
.header-secondary {
  font-weight: 600;
  margin-bottom: 12px;
}
.heading-secondary-text {
  display: inline-block;
  width: 65%;
}
.mobile-img {
  display: inline-block;
  width: 75%;
}
.section-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
  /* align-items: center; */
}
.section-tag-lists {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 64px;
  /* margin-right: 64px; */
}
.tag-lists {
  text-align: center;
}
.tag-lists img {
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  margin-bottom: 18px;
}
.hpclass {
  display: inline-block;
  width: 80%;
}
.hpclass-2 {
  margin-right: 48px;
}
.section-featured-in {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  /* gap: 48px; */
}
.section-featured-in img {
  width: 10%;
  height: 9%;
}
.margin {
  margin: 32px 0;
}
.footer-section {
  display: flex;
  align-items: center;
  gap: 120px;
}
.footer-list {
  list-style: none;
}
.footer-links {
  display: flex;
  gap: 48px;
}
.footer-list a {
  color: hsl(212, 12%, 32%);
  text-decoration: none;
}
.footer-icons {
  display: flex;
  gap: 12px;
  margin-left: auto;
  cursor: pointer;
}
.icon-links:link {
  fill: blue;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
